body {
	font-family: 'Comfortaa';
    margin: 0px;
    padding: 0px;
}

.NavBar {
    overflow: hidden;
    background-color: #333;
    font-size: 16px;
    font-weight: 500px;
    margin: 0px;
    padding: 0px;
}

.NavBar > li {
    float: left;
}

.NavBar > li > a, .dropdown > a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}

.NavBar > li > a:hover, .dropdown:hover {
    background-color: grey;
    color: white;
}

.dropdown {
    float: left;
    overflow: hidden;
    background-color: #333;
}

.dropdownContent {  
    position: absolute;
    display: none;
    background-color: #333;
    border-height: ;: 50px;
    height: 90px;
    width: 170px;
}

.dropdownContent a { 
    color: white;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: 0   ;
    padding: 5px;
}

.dropdownContent a:hover {
    background-color: grey;
    color: white;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown:hover > a, ul > li > a:hover {
    color: white;
}



.active {
    background-color: #4CAF50;
}

.title {
    text-align: center;
}

.text {
	text-align: center;    
}

.about {
    text-align: center;
}

.school {
    text-align: center;
}

.contact {
    text-align: center; 
}

.far {
    color: white;
}
